body {
  background: purple;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

pre {
  color: #ff69b4;
  font-family: monospace;
  font-size: 20px;
  line-height: 20px;
}
