body {
  background: black;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

pre {
  color: #ff69b4;
  font-family: monospace;
  font-size: 10px;
  line-height: 10px;
}
